aiohttp==3.9.5
aiorpcX==0.23.1
aiosignal==1.3.1
anyio==3.7.1
asks==3.0.0
async-generator==1.10
attrs==23.2.0
base58==2.1.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==7.1.2
cryptos==2.0.9
frozenlist==1.4.1
h11==0.14.0
idna==3.7
janus==1.0.0
msgspec==0.18.6
multidict==6.0.5
ntplib==0.4.0
packaging==24.1
pbkdf2==1.3
py-leap @ git+https://github.com/guilledk/py-leap.git@v0.1a25 
pycryptodomex==3.20.0
pyTelegramBotAPI==4.21.0
requests==2.31.0
sniffio==1.3.1
speedtest-cli==2.1.3
telebot==0.0.5
typing_extensions==4.12.2
urllib3==2.2.2
yarl==1.9.4
