[config]
abi_path = <ABI_PATH>
bot_token = <BOT_TOKEN>
chat_id = <CHAT_ID>
claimer_permission = <CLAIMER_PERMISSION>
claimer_private_key = <CLAIMER_PRIVATE_KEY> 
location = <PRODUCER_LOCATION>
node_url = <NODE_URL>
local_node_url = <LOCAL_NODE_URL>
producer_name = <PRODUCER_NAME>
producer_url = <PRODUCER_URL>
producer_public_key = <PRODUCER_PUBLIC_KEY>
register_permission = <REGISTER_PERMISSION>
register_private_key = <REGISTER_PRIVATE_KEY>
users_alerted = <USER_1>, ... , <USER_N> 
